# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**
- List popular languages in data science
- Create cell with a table of data science tools
- Create a cell to list data science libraries

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Seaborn
4. Scikit
5. Keras

|Data Science Tools|
|------------------|
|VS Code|
|Gitlab|
|Vercel|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Derrick Smith